[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"

[packages]
requests = ">=2.20.0"
six = "==1.8.0"
urllib3 = "==1.24.2"
Flask = "==1.0.2"
Flask-BasicAuth = "==0.2.0"
Jinja2 = "==2.10.1"
pyOpenSSL = "==18.0.0"

[requires]
python_version = "3.7"
