<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>V2ray.fun - 软件下载</title>
    <link rel="stylesheet" href="/static/css/mdui.min.css">
    <script src="/static/js/mdui.min.js"></script>
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-teal mdui-theme-accent-light-blue mdui-loaded mdui-drawer-body-left">

<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
        <a href="./" class="mdui-typo-headline mdui-hidden-xs">V2ray.fun</a>
        <a href="" class="mdui-typo-title">软件下载</a>
        <div class="mdui-toolbar-spacer"></div>
        <a href="https://github.com/FunctionClub/" target="_blank" class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-tooltip="{content: 'Github'}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve" class="mdui-icon" style="width: 24px;height:24px;">
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5
	c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1
	c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4
	c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7
	c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5
	c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z"></path>
      </svg>
        </a>
    </div>
</header>

<div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>
                <div class="mdui-list-item-content">控制面板</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="index.html" class="mdui-list-item mdui-ripple">运行状态</a>
                <a href="config.html" class="mdui-list-item mdui-ripple">修改连接</a>
                <a href="app.html" class="mdui-list-item mdui-ripple  mdui-list-item-active">软件下载</a>
                <a href="log.html" class="mdui-list-item mdui-ripple">运行日志</a>
            </div>
        </div>

    </div>
</div>


    <div class="mdui-container">
        <p></p>
        <div class="mdui-row">
                <div class="mdui-table-fluid">
                    <table class="mdui-table">
                        <thead>
                        <tr>
                            <th>运行平台</th>
                            <th>下载链接</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><i class="mdui-icon material-icons">desktop_windows</i>    Windows</td>
                            <td>
                                <div class="mdui-chip" onclick="window.open('https://github.com/v2ray/v2ray-core/releases/latest'); ">
                                        <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                                        <span class="mdui-chip-title">V2ray-Core </span>
                                </div>
                                &nbsp;
                                <div class="mdui-chip" onclick="window.open('https://github.com/2dust/v2rayN/releases/latest'); ">
                                        <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                                        <span class="mdui-chip-title">V2rayN </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="mdui-icon material-icons">desktop_mac</i>    Mac OS</td>
                            <td>
                                <div class="mdui-chip" onclick="window.open('https://github.com/v2ray/v2ray-core/releases/latest'); ">
                                    <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                                    <span class="mdui-chip-title">V2ray-Core </span>
                                </div>
                                &nbsp;
                                <div class="mdui-chip" onclick="window.open('https://github.com/Cenmrev/V2RayX'); ">
                                    <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                                    <span class="mdui-chip-title">V2rayX </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="mdui-icon material-icons">android</i>    Android</td>
                            <td>
                                <div class="mdui-chip" onclick="window.open('https://github.com/2dust/v2rayNG/releases'); ">
                                    <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                                    <span class="mdui-chip-title">V2rayNG </span>
                                </div>
                                &nbsp;
                                <div class="mdui-chip" onclick="window.open('https://github.com/V2Ray-Android/Actinium/releases'); ">
                                    <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                                    <span class="mdui-chip-title">Actinium </span>
                                </div>
                                &nbsp;
                                <div class="mdui-chip" onclick="window.open('https://play.google.com/store/apps/details?id=com.github.dawndiy.bifrostv'); ">
                                    <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                                    <span class="mdui-chip-title">BifrostV </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="mdui-icon material-icons">tablet_mac</i>    iOS</td>
                            <td>
                                <div class="mdui-chip" onclick="window.open('https://itunes.apple.com/us/app/kitsunebi/id1275446921?mt=8','_self'); ">
                                    <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                                    <span class="mdui-chip-title">Kitsunebi </span>
                                </div>
                                &nbsp;
                                <div class="mdui-chip" onclick="window.open('https://itunes.apple.com/us/app/shadowrocket/id932747118?mt=8','_self'); ">
                                    <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                                    <span class="mdui-chip-title">ShadowRocket </span>
                                </div>
                                &nbsp;
                                <div class="mdui-chip" onclick="window.open('https://itunes.apple.com/us/app/pepi/id1283082051?mt=8','_self'); ">
                                    <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">file_download</i></span>
                                    <span class="mdui-chip-title">Pepi </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

        </div>
    </div>
    <p></p>



</body>
</html>