<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>V2ray.fun - 连接配置</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/mdui.min.css">
    <script src="/static/js/mdui.min.js"></script>
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-teal mdui-theme-accent-light-blue mdui-loaded mdui-drawer-body-left">

<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer', swipe: true}">
            <i class="mdui-icon material-icons">menu</i></span>
        <a href="./" class="mdui-typo-headline mdui-hidden-xs">V2ray.fun</a>
        <a href="" class="mdui-typo-title">连接配置</a>
        <div class="mdui-toolbar-spacer"></div>
        <a href="https://github.com/FunctionClub/" target="_blank" class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white"
           mdui-tooltip="{content: 'Github'}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36"
                 enable-background="new 0 0 36 36" xml:space="preserve" class="mdui-icon" style="width: 24px;height:24px;">
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5
	c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1
	c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4
	c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7
	c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5
	c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z"></path>
      </svg>
        </a>
    </div>
</header>

<div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}">
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>
                <div class="mdui-list-item-content">控制面板</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="index.html" class="mdui-list-item mdui-ripple">运行状态</a>
                <a href="config.html" class="mdui-list-item mdui-ripple  mdui-list-item-active">修改连接</a>
                <a href="app.html" class="mdui-list-item mdui-ripple">软件下载</a>
                <a href="log.html" class="mdui-list-item mdui-ripple">运行日志</a>
            </div>
        </div>

    </div>
</div>


    <div class="mdui-container">
        <p></p>
        <div class="mdui-row">
                <div class="mdui-table-fluid">
                    <table class="mdui-table">
                        <thead>
                        <tr>
                            <th>参数</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>运行控制</td>
                            <td>
                                <div class="mdui-row">
                                    <div class="mdui-col-md-3">
                                        <div class="mdui-chip" onclick="start_service()">
                                            <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">play_arrow</i></span>
                                            <span class="mdui-chip-title">启动</span>
                                        </div>
                                    </div>
                                    <div class="mdui-col-md-3">
                                        <div class="mdui-chip" onclick="stop_service()">
                                            <span class="mdui-chip-icon mdui-color-red"><i class="mdui-icon material-icons">stop</i></span>
                                            <span class="mdui-chip-title">停止</span>
                                        </div>
                                    </div>
                                    <div class="mdui-col-md-3">
                                        <div class="mdui-chip" onclick="restart_service()">
                                            <span class="mdui-chip-icon mdui-color-yellow-700"><i class="mdui-icon material-icons">settings_backup_restore</i></span>
                                            <span class="mdui-chip-title">重启</span>
                                        </div>
                                    </div>
                                </div>



                            </td>
                        </tr>
                        <tr>
                            <td>协议类型</td>
                            <td>
                                <div class="mdui-row">
                                    <div class="mdui-col-md-4" style="margin: 3px">
                                        <form id="protocol_form" action="##">
                                        </form>
                                    </div>
                                    <div class="mdui-col-md-2"></div>
                                    <div class="mdui-col-md-1">
                                        <button onclick="change_protocol()" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent mdui-ripple" >修改协议</button>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>主端口</td>
                            <td>
                                <div class="mdui-row">
                                    <div class="mdui-col-md-4" style="margin: 3px">
                                        <input id="port" class="mdui-textfield-input" type="text" placeholder="端口号" value="1234"/>
                                    </div>
                                    <div class="mdui-col-md-2"></div>
                                    <div class="mdui-col-md-1">
                                        <button class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent mdui-ripple"
                                                onclick="change_port()">修改端口</button>
                                    </div>
                                </div>


                            </td>
                        </tr>
                        <tr class="mtproto-config">
                            <td>用户秘钥</td>
                            <td>
                                <div class="mdui-row">
                                    <div class="mdui-col-md-6">
                                        <input id="secret" class="mdui-textfield-input" type="text" readonly="readonly" value="b0cbcef5a486d9636472ac27f8e11a9d"/>
                                    </div>
                                    <div class="mdui-col-md-1" onclick="change_secret()">
                                        <button class="mdui-btn mdui-color-theme-accent mdui-ripple" >
                                        <i class="mdui-icon material-icons">autorenew</i>
                                    </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="vmess-config">
                            <td>UUID</td>
                            <td>
                                <div class="mdui-row">
                                    <div class="mdui-col-md-6">
                                        <input id="uuid" class="mdui-textfield-input" type="text" readonly="readonly" value="b18d3377-e0bd-49c6-9194-892326c9bbb0" />
                                    </div>
                                    <div class="mdui-col-md-1" onclick="change_uuid()">
                                        <button class="mdui-btn mdui-color-theme-accent mdui-ripple" >
                                            <i class="mdui-icon material-icons">autorenew</i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="vmess-config">
                            <td>加密方式</td>
                            <td>
                                <div class="mdui-row">
                                    <div class="mdui-col-md-4" style="margin: 3px">
                                        <form id="encrypt_form" action="##">
                                        </form>
                                    </div>
                                    <div class="mdui-col-md-2"></div>
                                    <div class="mdui-col-md-1">
                                        <button onclick="change_encrypt()" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent mdui-ripple" >修改加密</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>传输方式
                                <i class="mdui-icon material-icons mdui-text-color-grey-400" mdui-dialog="{target: '#trans-helper'}">info</i>
                                <div class="mdui-dialog" id="trans-helper">
                                    <div class="mdui-dialog-title">传输方式说明</div>
                                    <div class="mdui-dialog-content">
                                        <b>TCP</b>：默认传输协议<br>
                                        <b>WebSocket</b>：Websocket 传输协议<br>
                                        <b>KCP</b>：普通 mKCP 传输协议<br>
                                        <b>KCP srtp</b>：mKCP 伪装 FaceTime 通话协议<br>
                                        <b>KCP utp</b>：mKCP 伪装 BT 数据协议<br>
                                        <b>KCP wechat</b>：mKCP 伪装微信数据协议<br>

                                    </div>
                                    <div class="mdui-dialog-actions">
                                        <button class="mdui-btn mdui-ripple" mdui-dialog-close="">确认</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="mdui-row">
                                    <div class="mdui-col-md-4" style="margin: 3px">
                                        <form id="trans_form" action="##">
                                        </form>
                                    </div>

                                    <div class="mdui-dialog" id="websocket-dialog">
                                            <div class="mdui-dialog-title">WebSocket 域名设置</div>
                                            <div class="mdui-dialog-content">
                                                <div class="mdui-row">
                                                    <div class="mdui-col-md-2"></div>
                                                    <p><strong>* </strong> 请务必将您的域名先解析到本台服务器！</p>
                                                </div>
                                                <p></p>
                                                <div class="mdui-row">
                                                    <div class="mdui-col-md-2"></div>
                                                    <div class="mdui-col-md-6">
                                                            <input id="ws_input_domain" class="mdui-textfield-input" placeholder="请输入域名（无需http://）" value="" />
                                                    </div>
                                                </div>
                                                <p></p>

                                            </div>
                                            <div class="mdui-dialog-actions">
                                                <button class="mdui-btn mdui-ripple" mdui-dialog-close="" onclick="set_websocket()">确认</button>
                                            </div>
                                        </div>


                                    <div class="mdui-col-md-2"></div>
                                    <div class="mdui-col-md-1">
                                        <button onclick="change_trans()" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent mdui-ripple" >修改传输</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>TLS</td>
                            <td>
                                <div class="mdui-row">
                                    <div class="mdui-col-md-6">
                                        <button class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-green-500
                                         mdui-ripple mdui-text-color-white" mdui-dialog="{target: '#tls_config'}"  >
                                            开启
                                        </button>
                                        <div class="mdui-dialog" id="tls_config">
                                            <div class="mdui-dialog-title">TLS 设置</div>
                                            <div class="mdui-dialog-content">
                                                <div class="mdui-row">
                                                    <div class="mdui-col-md-2"></div>
                                                    <p><strong>* </strong> 请务必将您的域名先解析到本台服务器！否则无法自动获取SSL证书！</p>
                                                </div>
                                                <div class="mdui-row">
                                                    <div class="mdui-col-md-2"></div>
                                                    <p><strong>* </strong> 生成过程可能需要等待 20秒 - 1分钟，请耐心等待！</p>
                                                </div>
                                                <p></p>
                                                <div class="mdui-row">
                                                    <div class="mdui-col-md-2"></div>
                                                    <div class="mdui-col-md-6">
                                                            <input id="input_domain" class="mdui-textfield-input" placeholder="请输入域名（无需http://）" value="" />
                                                    </div>
                                                    <div class="mdui-col-md-2">
                                                        <button class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-theme-accent mdui-ripple" onclick="gen_ssl()">生成证书</button>
                                                    </div>
                                                </div>
                                                <p></p>
                                                <div class="mdui-row">
                                                    <div class="mdui-col-md-2"></div>
                                                    <div class="mdui-col-md-8">
                                                        <div id="domain-progress" hidden class="mdui-progress">
                                                            <div class="mdui-progress-indeterminate"></div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="mdui-dialog-actions">
                                                <button id="confirm_tls" disabled class="mdui-btn mdui-ripple" mdui-dialog-close=""
                                                        onclick="change_TLS('on');document.getElementById('confirm_tls').setAttribute('disabled','disabled');">确认</button>
                                                <button class="mdui-btn mdui-ripple" mdui-dialog-close=""
                                                        onclick="document.getElementById('confirm_tls').setAttribute('disabled','disabled');">取消</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mdui-col-md-2">
                                        <button onclick="change_TLS('off')" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-red-500 mdui-ripple mdui-text-color-white" >
                                            关闭
                                        </button>
                                    </div>
                                </div>


                            </td>
                        </tr>
                        <tr>
                            <td>Mux.cool</td>
                            <td>
                                <div class="mdui-row">
                                    <div class="mdui-col-md-6">
                                        <button onclick="change_mux('on')" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-green-500 mdui-ripple mdui-text-color-white" >
                                            开启
                                        </button>
                                    </div>
                                    <div class="mdui-col-md-2">
                                        <button onclick="change_mux('off')" class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-color-red-500 mdui-ripple mdui-text-color-white" >
                                            关闭
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    <p></p>


</body>

<script type="text/javascript">
    $.get("/get_info", function(return_data){
        let data = JSON.parse(return_data);

        document.getElementById('uuid').setAttribute('value',data["uuid"]);
        document.getElementById('port').setAttribute('value',data["port"]);
        var protocol_form = '<select name="protocol" class="mdui-select" mdui-select>\n' +
            '<option id="vmess" value="1"> VMess</option>\n' +
            '<option id="mtproto" value="2"> MTProto </option>\n' +
            '</select>'
        $("#protocol_form").append(protocol_form);
        document.getElementById(data['protocol']).setAttribute('selected','selected');
        if (data['protocol'] === "vmess") {
             $('.vmess-config').removeAttr("style");
            $('.mtproto-config').css("display", "none");
        } else if (data['protocol'] === "mtproto") {
            $('.vmess-config').css("display", "none");
            $('.mtproto-config').removeAttr("style");
        }
        var encrypt_html ='<select name="encrypt" class="mdui-select" mdui-select>\n' +
            '<option id="auto" value="1"> auto (自动选择)</option>\n' +
            '<option id="aes-128-cfb" value="2"> aes-128-cfb </option>\n' +
            '<option id="aes-128-gcm" value="3"> aes-128-gcm </option>\n' +
            '<option id="chacha20-poly1305" value="4"> chacha20-poly1305</option>\n' +
            '<option id="none" value="5"> none (不加密) </option>\n' +
            '</select>'

        $("#encrypt_form").append(encrypt_html);
        document.getElementById(data['encrypt']).setAttribute('selected','selected');

        var trans_html = '<select name="trans" class="mdui-select" mdui-select>\n' +
            '               <option id="tcp" value="1">TCP</option>\n' +
            '               <option id="websocket" value="2">WebSocket</option>\n' +
            '               <option id="mkcp" value="3">KCP</option>\n' +
            '               <option id="mkcp-srtp" value="4">KCP srtp</option>\n' +
            '               <option id="mkcp-utp" value="5">KCP utp</option>\n' +
            '               <option id="mkcp-wechat" value="6">KCP wechat</option>\n' +
            '             </select>'

        $("#trans_form").append(trans_html);
        document.getElementById(data["trans"]).setAttribute('selected','selected');

        mdui.mutation();



    });
</script>

<script type="text/javascript">

    function message(m_message) {
        mdui.snackbar(
            {
                message : m_message,
                position : "right-top"
            }
        )
    }

    function isAllNaN(str) {
        for (var i = 0; i < str.length; i++)
        {
            if(isNaN(str.charAt(i)))
            {
                return false;
            }
            if (str.charAt(i) === ' ')
            {
                return false;
            }
        }
        return true;
    }
    function change_protocol() {
        let protocol = $('#protocol_form').serialize()
        if (protocol.indexOf("1") !== -1) {
            $('.vmess-config').removeAttr("style");
            $('.mtproto-config').css("display", "none");
        } else if (protocol.indexOf("2") !== -1) {
            $('.vmess-config').css("display", "none");
            $('.mtproto-config').removeAttr("style");
        }
        $.get("/set_protocol",$('#protocol_form').serialize());
        message("协议类型已修改,请配置完整后重启服务")
    }

    function change_secret(){
        let new_secret = randHex();
        $.get("/set_secret", {
            "secret": new_secret
        });
        message("已生成新用户秘钥")
        $("#secret").attr("value", new_secret);
    }

    function change_uuid() {
        let new_uuid = uuid();
        $.get("/set_uuid",{
            "setuuid" : new_uuid
        })

        message("已生成新UUID");
        $('#uuid').attr("value",new_uuid);
    }

    function change_port() {
        let port = document.getElementById('port').value;

        if(!isAllNaN(port))
        {
            mdui.alert('端口号只能为数字');
        }
        else
        {
            var port_num = parseInt(port);
            if (port_num === 22 || port_num < 0 || port_num > 65535)
            {
                mdui.alert("端口号只能在 0 - 65535 之间");
            }
            else
            {
                $.get("/set_port",{
                    setport : port_num
                })
                message("端口已修改")
            }
        }
    }

    function change_encrypt() {
        $.get("/set_encrypt",$('#encrypt_form').serialize());
        message("加密方式已修改")
    }

    function set_websocket() {
        let result = "trans=2&domain=" + document.getElementById('ws_input_domain').value;
        $.get("/set_trans",result);
        message("传输方式已修改");

    }
    
    function change_trans() {

        let result = $('#trans_form').serialize();

        if(result.indexOf("2")!==-1)
        {
            var inst = new mdui.Dialog('#websocket-dialog');
            inst.open();
        }
        else
        {
            $.get("/set_trans",result);
            message("传输方式已修改");
        }

    }

    function change_TLS(action) {
        let domain = document.getElementById('input_domain').value;
        if (action === "off")
        {
            $.get("/set_tls",{
                "action" : "off",
                "domain" : "none"
            });
            message("TLS 已关闭")
        }
        else
        {
            $.get("/set_tls",{
                "action" : "on",
                "domain" : domain
            });
            message("TLS 已开启")
        }
    }

    function change_mux(action) {
        if (action === "on")
        {
            $.get("/set_mux",{
                "action" : "on",
            });
            message("Mux.cool 已开启")
        }
        else if(action === "off")
        {
            $.get("/set_mux",{
                "action" : "off",
            });
            message("Mux.cool 已关闭")
        }
    }

    function gen_ssl() {
        let domain = document.getElementById('input_domain').value;
        if (domain.startsWith("http:"))
        {
            alert("请勿输入 http:// ");
        }
        else if(domain === "")
        {
            alert("请入域名");
        }
        else
        {
            document.getElementById('domain-progress').removeAttribute('hidden');
            $.get("/gen_ssl", { "domain" : domain },
                function(data){
                    document.getElementById('domain-progress').setAttribute('hidden','hidden');
                    if(data === "True")
                    {
                        document.getElementById('confirm_tls').removeAttribute('disabled');
                    }
                    else
                    {
                        alert("请检查域名是否已解析至此服务器，这可能需要等待数分钟");
                    }
                });
        }
    }

    function start_service() {
        $.get("/start_service");
        message("服务已启动")
    }

    function stop_service() {
        $.get("/stop_service");
        message("服务已停止")
    }

    function restart_service() {
        $.get("/restart_service");
        message("服务已重启")
    }

    function uuid() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }
    function randHex() {
        // openssl rand -hex 16 
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 32; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        var randHex = s.join("");
        return randHex;
    }



</script>

</html>