<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>V2ray.fun - 运行状态</title>
    <link rel="stylesheet" href="/static/css/mdui.min.css">
    <script src="/static/js/mdui.min.js"></script>
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink mdui-loaded mdui-drawer-body-left">

<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
        <a href="./" class="mdui-typo-headline mdui-hidden-xs">V2ray.fun</a>
        <a href="" class="mdui-typo-title">运行状态</a>
        <div class="mdui-toolbar-spacer"></div>
        <a href="https://github.com/FunctionClub/" target="_blank" class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-tooltip="{content: 'Github'}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve" class="mdui-icon" style="width: 24px;height:24px;">
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5
	c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1
	c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4
	c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7
	c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5
	c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z"></path>
      </svg>
        </a>
    </div>
</header>

<div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
        <div class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>
                <div class="mdui-list-item-content">控制面板</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list">
                <a href="index.html" class="mdui-list-item mdui-ripple mdui-list-item-active">运行状态</a>
                <a href="config.html" class="mdui-list-item mdui-ripple">修改连接</a>
                <a href="app.html" class="mdui-list-item mdui-ripple ">软件下载</a>
                <a href="log.html" class="mdui-list-item mdui-ripple ">运行日志</a>
            </div>
        </div>

    </div>
</div>

<div class="mdui-container doc-container doc-no-cover">

    <div class="mdui-container">
        <p></p>
        <div class="mdui-row">
            <div class="mdui-col-md-12">
                <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                    <tr>
                        <th style="min-width: 120px;">参数</th>
                        <th>值</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>运行状态</td>
                        <td>
                            <div class="mdui-chip">
                                <span class="mdui-chip-icon mdui-color-green"><i class="mdui-icon material-icons">play_arrow</i></span>
                                <span class="mdui-chip-title">运行中</span>
                            </div>
                            <div class="mdui-chip">
                                <span class="mdui-chip-icon mdui-color-red"><i class="mdui-icon material-icons">stop</i></span>
                                <span class="mdui-chip-title">已停止</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>服务器IP</td>
                        <td>114.114.114.114</td>
                    </tr>
                    <tr>
                        <td>主端口</td>
                        <td>1234</td>
                    </tr>

                    <tr>
                        <td>加密方式</td>
                        <td>aes-256-cfb</td>
                    </tr>
                    <tr>
                        <td>传输方式</td>
                        <td>mkcp伪装FaceTime流量</td>
                    </tr>
                    <tr>
                        <td>TLS</td>
                        <td><i class="mdui-icon material-icons mdui-text-color-green">check</i>ON
                            <i class="mdui-icon material-icons mdui-text-color-red">clear</i>Off
                        </td>
                    </tr>
                    <tr>
                        <td>Mux.cool</td>
                        <td><i class="mdui-icon material-icons mdui-text-color-green">check</i>ON
                            <i class="mdui-icon material-icons mdui-text-color-red">clear</i>Off
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <label class="mdui-textfield-label">Vmess：</label>
                                <textarea class="mdui-textfield-input" rows="6">vmess://TG9yZW0gSXBzdW0gaXMgc2ltcGx5IGR1bW15IHRleHQgb2YgdGhlIHByaW50aW5nIGFuZCB0eXBlc2V0dGluZyBpbmR1c3RyeS4gTG9yZW0gSXBzdW0gaGFzIGJlZW4gdGhlIGluZHVzdHJ5J3Mgc3RhbmRhcmQgZHVtbXkgdGV4dCBldmVyIHNpbmNlIHRoZSAxNTAwcywgd2hlbiBhbiB1bmtub3duIHByaW50ZXIgdG9vayBhIGdhbGxleSBvZiB0eXBlIGFuZCBzY3JhbWJsZWQgaXQgdG8gbWFrZSBhIHR5cGUgc3BlY2ltZW4gYm9vay4gSXQgaGFzI</textarea>
                        </td>
                        <td>
                            <div class="mdui-row">
                                <div class="mdui-col-md-4">
                                    <img class="mdui-img-rounded" src="https://pan.baidu.com/share/qrcode?w=150&h=150&url=1242374290gSXBzdW0gaXMgc2ltcGx5IGR1bW15IHRleHQgb2YgdGhlIHByaW50a0gSXBzdW0gaXMgc2ltcGx5IGR1bW15IHRleHQgb2YgdGhlIHByaW50a87489234hjk23b42jk331323123"/>
                                </div>
                                <div class="mdui-col-md-8">
                                    <br>
                                    <button class="mdui-btn mdui-btn-block mdui-color-theme-500 mdui-ripple">打开Vmess链接</button>
                                    <br>
                                    <button class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple">下载配置文件</button>

                                </div>
                            </div>

                        </td>
                    </tr>

                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <p></p>

</div>

<div class="doc-footer-nav mdui-color-theme">
    <div class="mdui-container">
        <div class="mdui-row">
            <div class="mdui-col-xs-12 mdui-col-sm-12 doc-footer-nav-left">
                <p class="mdui-text-center">@Function Club</p>
                <p class="mdui-text-center">2016 - 2018</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>